.experience-accord {
    margin: 50px;
    border-radius:15px;
    margin-bottom: 20px;
    color: orangered;
}

.accord-panel {
    font-family: 'Google Sans Regular';
}

@media (max-width: 768px) {
    .experience-accord{
        margin: 20px;
    }
}